# Path to the Backuper git clone ===============================================

set :path, File.expand_path(__FILE__).split('(')[0]

# Schedule here your backup profiles ===========================================

every 12.hours do
  rake "backup PROFILE=default"
end

# Learn more on the whenever syntax on http://github.com/javan/whenever
